.container
  .center
    .text-center
      %h4 Today
    .row
    .col-md-4
    .col-md-4
      - @standups.each do |standup|
        .panel.panel-default
          .panel-heading
            .text-center
              %b
              = User.find_by(user_id: standup.user_id).full_name
              %br
              = image_tag(standup.avatar_url)
          .panel-body
            - if standup.today.nil?
              .text-center Vacation
            - else
              .text-center
                %b What I worked on yesterday:
              %ul
                %li
                  = standup.yesterday.tr("<>","").gsub(/\n/, '<br><li>').html_safe
              .text-center
                %b What I am working on today:
              %ul
                %li
                  = standup.today.tr("<>","").gsub(/\n/, '<br><li>').html_safe unless standup.today.nil?
              %br
              .text-center
                %b What is in my way:
              %ul
                %li
                  = standup.conflicts.tr("<>","").gsub(/\n/, '<br><li>').html_safe unless standup.today.nil?
    .col-md-4
