.container
  .text-center
    - if @settings.nil?
      = form_for @new_settings do |f|
        = f.label "Group Name"
        = f.text_field :name
        %br
        = f.label "Bot name"
        = f.text_field :bot_name
        %br
        = f.submit
    - else
      = form_for @settings do |f|
        = f.label "Group Name"
        = f.text_field :name
        %br
        = f.label "Bot name"
        = f.text_field :bot_name
        %br
        = f.submit class: "btn btn-default"
