!!!
%html{ lang: "en" }
  %head
    %title Standup Bot by So Fetch

    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %link{ href: "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic",
           rel: "stylesheet",
           type: "text/css" }

%body
  .wrapper
    .colors-3
      %nav.navbar.navbar-fixed-top
        .container
          .navbar-brand
            = image_tag('standup_bot_logo.png')
      .container.main-content
        = yield

  %footer.footer.container
    %p.text-muted
      Made by
      = link_to "So Fetch.", 'http://www.sofetch.io'
      = image_tag('sf_logo_standup_bot.png')
